DATABASE_USER=Postgres
DATABASE_PASSWORD=Postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=Plenartrend
DATABASE_SSLMODE=disable
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
NUM_CLUSTERS=100
NUM_CLOSEST_TOPICS=10
LOG_LEVEL=info
TOPIC_CLUSTERING_SLEEP_HOURS=24